.TextBox_main {
z-index: 3;
position: absolute;
right: 25px;
min-height: 350px;
max-height: 450px;
bottom: 20px;
left: 275px;
background: transparent;
background-blend-mode: normal;
border-radius: 0;
box-shadow: none;
font-weight: 700;
color: white;
padding: 1em 50px 70px 50px;
box-sizing: border-box;
display: flex;
flex-flow: column;
align-items: flex-start;
letter-spacing: 0.01em;
transition: left 0.33s;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
height: 50px;

}

.TextBox_main_miniavatarOff {
left: 75px;
}

.TextBox_Background {
display: none;
}

.TextBox_textElement_start {
position: relative;
animation: TextDelayShow 1000ms ease-out forwards;
opacity: 0;
}

.TextBox_textElement_Settled {
position: relative;
opacity: 1;
}

.outer {
position: absolute;
white-space: nowrap;
left: 0;
top: 0;
color: #ffffff;
background: none;
background-image: none;
background-clip: initial;
-webkit-background-clip: initial;
z-index: 2;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 700;
-webkit-text-stroke: 0;
text-shadow:
    0 2px 3px rgba(0, 0, 0, 0.35),
    0 0 1px rgba(0, 0, 0, 0.25);
}

.inner {
white-space: nowrap;
position: absolute;
left: 0;
top: 0;
color: transparent;
z-index: 1;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 700;
-webkit-text-stroke: 0.16em rgba(0, 0, 0, 1);
}

.zhanwei {
color: transparent;
white-space: nowrap;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 700;
}

.text {
overflow: hidden;
}

.innerName {
display: none;
}

.miniAvatarImg {
display: none;
}

@keyframes showSoftly {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes TextDelayShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
